.container {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 8%;
  /* height: 100vh; */
}
.top{
 height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 2rem;
 
}
.first {
  font-family: Nunito;
  text-align: center;
  font-family: Nunito;
  font-size: 31px;
  font-weight: 900;
  color: #b3b3b3;
 
}
.second {
  font-weight: 800;
  font-size: 42px;
  color: #f2f2f2;
  text-align: center;
  
}
.third {
  font-size: 22px;
  color: #666666;
  font-weight: 500;
  width: 80%;
  font-weight: 500;
  margin-left: auto;
  margin-right:auto ;
  text-align: center;
 
}
.fourth{
  text-align: center;
}

.buttonhome {
  /* margin-top: 13px; */
  box-sizing: border-box;
  padding: 8px 24px;
  gap: 10px;
  width: 129px;
  height: 41px;
  border: 1px solid #ffffff;
  border-radius: 41px;
  background-color: transparent;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
.button:hover {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  transform: scale(1.08);
  transition-duration: 1500ms;
}


.fifth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 38px;
}

.middle {
  height: 100%;
  width: 100%;
}
.poster {
  height: 100%;
  width: 100%;
}
.bottom{
  margin: auto;
  display: flex;
  flex-direction: column;
}
.bh {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-top: 1rem;
}
.bh > :nth-child(1) {
  font-size: 36px;
}
.bh > :nth-child(2) {
  font-size: 24px;
  color: #ff5656;
}

.prdt1 {
  display: flex;
  flex-direction: row;
  margin-top: 8%;
  padding: 0% 8%;
  justify-content: space-between;
  /* margin-top: 70px;
  gap: 5rem;
  */

 
}
.prdt2 {
  display: flex;
  /* gap: 3rem; */
  
}
.prdt1left {
  display: flex;
  flex-direction: column;
  width: 42%;
  gap:2rem;
  /* justify-content: space-around; */
  /* margin: auto; */
  
  
}
.mh1,.elevate1{
  /* margin-left: 20px; */
}


.leftsub {
  display: flex;
  flex-direction: column;
  /* margin-left: 5rem; */
  gap: 1rem;
 
}


.mh1{
  font-size: 31px;
}

.elevate1 {
  color: #b3b3b3;
  font-size: 18px;
  width: fit-content;
 
}

.prdt1right{
  /* margin-top: 2rem; */
  width: 42%; 
}

.rightsub {
 display: flex;
 gap: 1rem;

  
}


.prebook {
  padding: 8px 24px;
  background: #ff5656;
  border-radius: 41px;
  color: #ffffff;
  border: none;
  height: fit-content;
  width: fit-content;
  font-size: 11px;
}
.viewd {
  color: #ff5656;
  background-color: transparent;
  padding: 7px 8px;
  border-radius: 41px;
  border-color: #ff5656;
  border: 1px solid #ff5656;
  height: fit-content;
  width: 86px;
  font-size: 12px;
}

.prdt2 {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 8%;
  padding: 0% 8%;
  justify-content: space-between;
}
.hproduct1 {
 width: 90%;
 /* height: 437px; */
  /* margin-top: -1rem; */
  object-fit: contain;
}
.hproduct2 {
  /* height: 437px; */
  width: 80%;
  object-fit: contain;
}
.hproduct3 {
  /* height: 427px; */
  width: 90%;
  object-fit: contain;
}
.homebuttons{
  display: flex;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin-top: 50px;
  }
  .top{
    gap: 1rem;
  }
  
  .first {
    font-size: 17px;
  }
  .second {
    font-size: 37px;
  }
  .third {
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    width: 100px;
    margin-left: auto;
    /* padding:6px; */
  }
  .rightsub {
    display: flex;
    /* margin-left: 2rem; */
    gap: 1rem;
    margin-top: 1rem;
     
   }
  .button {
    margin-top: 1rem;
    padding: 8px 20px;
    gap: 10px;
    width: fit-content;
    height: 41px;
  }
  .middle {
    height: 100%;
    width: fit-content
  }
  .poster {
    height: 100%;
    width: 100%;
  }

  .bottom {
    display: flex;
    flex-direction: column;
  }
  .prdt1,
  .prdt2,
  .prdt3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center
    /* margin-left: 2rem; */
  }
  .prdt1left{
    width: 80%;
    gap: 1rem;
    text-align: center;
    align-items: center;
    
  }
  .hproduct1 {
    width: 80%;
    object-fit: contain;
  }
  .prdt1right{
    width: 80%;
  }
  .hproduct2 {
     width: 80%;
    object-fit: contain;
   
  }
  .hproduct3 {
    width: 80%;
    object-fit: contain;
  }
  .leftsub {
    margin: auto;
    gap: 1rem;
  }
  .mh1s,
  .mh2s,
  .mh3s {
    margin-left: 0rem;
  }
 
  .mh3{
    margin-left: -35px;
  }
  .elevate1,
  .elevate2,
  .elevate3 {
    /* margin-left: 1.5rem; */
  }
  .leftsub > :nth-child(1) {
    font-size: 13px;
  }
  .leftsub > :nth-child(2) {
    font-size: 10px;
  }
  .third {
    width: 260px;
  }
  
.rightsub{
  width: fit-content;
}
  .prebook {
    padding: 5px 10px;
    background: #ff5656;
    border-radius: 41px;
    color: #ffffff;
    width: 80px; 
    height: fit-content;
    border: none;
    font-size: 10px;
  }
  .viewd {
    color: #ff5656;
    background-color: transparent;
    padding: 5px 8px;
    border-radius: 41px;
    width: 80px;
    height: fit-content;
    border-color: #ff5656;
    font-size: 10px;
  }
  .buttonhome {
    font-size: 10px;
    padding: 1px 20px;
    height: fit-content;
    width: fit-content;
  }
}