.container{
    color: #000000;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* margin: auto;
    padding: 0% 7%; */
    margin-bottom: 50px;
    margin-top: 20px;
}
.heading{
    text-align: center;
    width: 86%;
    color: #FFFFFF;
    margin: auto;

}

.cookiep{
    background-color: rgba(1,1,1,0.4);
    width: 86%;
    border-radius: 20px;
    padding: 1% 2%;
    color: #CCCCCC;
    font-style: 16px;
    font-weight: 200;
    margin: auto;
}
.cookiep>h4{
  color: #ffffff;
}

@media screen and (max-width: 768px) {
    .container{
      font-size:14px;
    }
    .heading{
      width: 80%;
    }
  
  
  }