.container{
    color: aliceblue;
    display: flex;
    /* justify-content: space-around; */
    gap: 3.1rem;
    padding: 3rem;
}
.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-left: 5px; */
}
.leftabout1{
    margin-left: -7rem;
    
}
.leftabout1>h1{
    margin-left: -6rem;
}

.cone,.ctwo,.cthree{
    display: flex;
    gap: 1rem;
}





.right{

    width: 484px;
    height: 480px;

    background: rgba(0, 0, 0, 0.3);
backdrop-filter: blur(7.5px);


border-radius: 20px;
/* z-index: -1; */
position: relative;
} 
.contactdetails{
    display: flex;
    flex-direction: column;
    align-items:self-start;
    height: 300px;
    padding-left: 1rem;
    gap: 1.5rem;
    color: #fff;
}
.contactdetails>span{
    margin-left: 2px;
}
hr{
    color: #fff;
    width: 80%;
    margin-left: 4px;
}
.sendbutton{
display: flex;
justify-content: center;
align-items: center;
padding: 12px 78px;
gap: 10px;
background: #000000;
border: 1px solid rgba(255, 255, 255, 0.2);
border-radius: 160px;
color: #fff;
width: 247px;
height: 60px;
margin-left: -750px;

}
input[type=text] {
    border: none;
    border-bottom: 2px solid rgb(244, 238, 238);
    background-color: transparent;
    width: 447px;
    color: #fff;
  }
  input[type=text]:focus {
    border:none;
  }
  
  .socialicons{
    display: flex;
    gap:1rem;
    align-items: left;
  }