.maincontainer{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
}
.fdetails{
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 14rem;
    font-size: 14px;

}
.fdfour{
    display: flex;
    flex-direction: column;
}
hr{
    color: #fff;
    width: 100%;
}
.footerlist{
    display: flex;
    justify-content: space-between;
    color: #fff;
    list-style: none;
}

