.maincontainer{
    display: flex;
    margin-top: 40px;
    flex-direction: column;

}
.container{
    display: flex;
    flex-direction: column;
    
}
.footerlogo{
    display: flex;
   margin-left: 40px;
}
.fdetails{
    color: #fff;
    display: flex;
    flex-direction: row;
    
    /* justify-content: space-around; */
    font-size: 11px;
    gap: 180px;
   

}
.fdone{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 11px;
    gap: 10px;
    width: 350px;
    /* width: fit-content;
    block-size: fit-content; */
}
/* .fdonedescr{
    width: fit-content;
block-size: fit-content;
max-height: 300px;

} */
.footericons{
    display: flex;
    gap: 10px;
}
.fdspan{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 300px; */

}




.fdfour{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
hr{
    color: #fff;
    width: 100%;
}
.footerlist{
    display: flex;
    justify-content: space-between;
    color: #fff;
    list-style: none;
    font-size: 11px;
}
.flistleft{
    display: flex;
    gap: 10px;
}
.foot{
    display: flex;
    gap: 15px;
}
