.maincontainer {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: fit-content;
}
.footerlogo {
  display: flex;
  margin-left: 44px;
  margin-top: 31px;
}
.fdetails {
  color: #b3b3b3;
  display: flex;
  font-size: 12px;
  gap: 88px;
  padding-left:1rem ;
  width: fit-content;
}

.fdone {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 11px;
  gap: 10px;
  width: 250px;
}

.fdonedescr {
  text-align: left;
  margin-top: 0.7rem;
}
.footericons {
  display: flex;
  gap: 10px;
}
.fdspan {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.fdtwo{
  width: 200px;
}

.fdthree {
  width: 260px;
} 

.fdfour {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 235px;
 margin-right: 4rem;
  padding-right: 1rem;
}

hr {
  color: #fff;
  width: 100%;
}
.footerlist {
  display: flex;
  justify-content: space-between;
  color: #fff;
  list-style: none;
  font-size: 13px;
  height: 50px;
  padding: 1rem 1rem;
  border-top: 0.1px solid #292727;
  padding-left:4rem ;
  padding-right:4rem ;
  padding-top: 30px;
  padding-bottom: 10px;
  
  /* width: fit-content; */
  
}

.flistleft {
  display: flex;
  gap: 17px;
  width: 70%;
}
/* .flistright{
  width: 50%;
} */
.foot {
  display: flex;
  gap: 15px;
}

.fproimp {
  display: flex;

}
.floc{
  margin-left: -10px;
}

@media screen and (max-width: 768px) {
  .maincontainer {
    width: 100%;
    overflow-x: hidden;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  .footerlogo {
    margin: auto;
  }
  .fdone{
    margin: auto;
    width: fit-content;
  }
  .fdtwo{
    margin: auto;
    width: fit-content;
    text-align: center;
  }
  .fdonedescr {
    /* margin-left: auto;
   margin-left: 2rem; */
    width: 200px;
    margin: auto;
  }
  .fdetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footericons {
    margin:auto;
    margin-top: 0.5rem;
  }

  .fproimp {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .fdthree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: fit-content;
  }
  .fdfour {
    font-size: 10px;
    text-align: center;
    padding: 1rem;
    margin: auto;
  }
  .fdfour > h3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: fit-content;
    margin: auto;
  }
  .foot{
    text-align: center;
    width: fit-content;
    margin-left: 2.4rem;
    margin-top: 15px;
  }
  .floc{
    width: 120px;
  }

  .footerlist {
    display: flex;
    flex-direction: column;


  }
  .flistleft {
    display: flex;
    gap: 12px;
    font-size: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  margin: auto;margin-left: -4rem;
  }
  .flistright {
    font-size: 8px;
    margin: auto;
  }
  .footericons{
    margin-left: 2rem;
  }
}
