@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');
body {
  margin: 0;
 
  background-image: url("E:\Invicious\invicious website\invicious\src\assets\Background Pattern.svg");
  background-color:#0E0E0E;
  font-family: 'Nunito', sans-serif;
  /* overflow-x: hidden; */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
